<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Nextdoor</title>
  <link rel="stylesheet"
        href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
        integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh"
        crossorigin="anonymous">
  <link rel="stylesheet" media="all" th:href="@{/css/signin.css}">
</head>
<body>
<form class="form-signin" th:action="@{/login}" th:object="${user}" method="post">
  <h1 class="h3 mb-3 font-weight-normal">Please sign in</h1>
  <label for="inputEmail" class="sr-only">Username</label><span th:if="${err}"
                                                                style="background-color: palevioletred">Wrong</span>
  <input type="text" id="inputEmail" th:field="*{username}" class="form-control"
         placeholder="Username" required
         autofocus>

  <label for="inputPassword" class="sr-only">Password</label>
  <input type="password" id="inputPassword" th:field="*{password}" class="form-control"
         placeholder="Password" required>
  <div class="checkbox mb-3">
    <label>
      <input type="checkbox" value="remember-me"> Remember me
    </label>
  </div>
  <button class="btn btn-lg btn-primary btn-block" type="submit">Sign in</button>
  <a th:href="@{/signup}">
    <button class="btn btn-lg btn-primary btn-block" type="button">Sign up</button>
  </a>
  <p class="mt-5 mb-3 text-muted">&copy; CS6083 - Final project</p>
</form>

</body>
</html>