<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Nextdoor</title>
  <link crossorigin="anonymous"
        href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
        integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh"
        rel="stylesheet">
  <link media="all" rel="stylesheet" th:href="@{/css/signin.css}">
</head>
<body>
<form class="form-signin" method="post" th:action="@{/login}" th:object="${user}">

  <img height="32" th:src="@{/icons/people.svg}" title="Bootstrap" width="32">
  <span>Login to your account</span>
  <label class="sr-only" for="inputEmail">Username</label>
  <br>
  <span style="color: palevioletred" th:if="${err}">login wrong</span>
  <input autofocus class="form-control" id="inputEmail" placeholder="Username"
         required th:field="*{username}"
         type="text">

  <label class="sr-only" for="inputPassword">Password</label>
  <input class="form-control" id="inputPassword" placeholder="Password" required
         th:field="*{password}" type="password">
  <button class="btn btn-lg btn-primary btn-block" type="submit">Sign in</button>
  <a th:href="@{/signup}">
    Sign up
  </a>
  <p class="mt-5 mb-3 text-muted">&copy; CS6083 - Final project
    <img height="32" th:src="@{/icons/code-slash.svg}" title="Bootstrap" width="32">
  </p>
</form>

</body>
</html>