<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Nextdoor - CS6083</title>
  <link rel="stylesheet"
        href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
        integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh"
        crossorigin="anonymous">
  <link rel="stylesheet" media="all" th:href="@{/css/offcanvas.css}">
  <script th:src="@{/js/offcanvas.js}"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.11.0/umd/popper.min.js"
          integrity="sha384-b/U6ypiBEHpOf/4+1nzFpr53nxSS+GLCkfwBdFNTxtclqqenISfwAzpKaMNFNmj4"
          crossorigin="anonymous"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/js/bootstrap.min.js"
          integrity="sha384-h0AbiXch4ZDo7tp9hKZ4TsHbi047NrKGLO3SEJAg45jXxnGIfYzk4Si90RDIqNm1"
          crossorigin="anonymous"></script>
  <script src="https://unpkg.com/@babel/standalone/babel.min.js"></script>
  <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
</head>
<body>
<nav class="navbar navbar-expand-lg fixed-top navbar-dark bg-primary">
  <a class="navbar-brand ml-5 mr-auto mr-lg-0" th:href="@{/main}">Nextdoor</a>
  <button class="navbar-toggler p-0 border-0" type="button" data-toggle="offcanvas">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse">
    <form class="form-inline w-100 ml-3 my-2 my-lg-0">
      <input class="form-control w-75 mr-sm-2" type="text" placeholder="Search thread"
             aria-label="Search">
      <button class="btn btn-outline-light my-2 my-sm-0" data-toggle="collapse" data-target="Search"
              type="submit">Search
      </button>
    </form>
  </div>

  <div class="navbar-collapse offcanvas-collapse" id="navbarsExampleDefault">
    <ul class="navbar-nav ml-auto mr-5">
      <li class="nav-item active">
        <a class="nav-link" href="">Dashboard <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" th:href="@{/friends}">Friends</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" th:href="@{/neighbors}">Neighbors</a>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink"
           data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Profile & Settings
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
          <a class="dropdown-item" th:href="@{/profile}">Profile</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" th:href="@{/logout}">Sign Out</a>
        </div>
      </li>
    </ul>
  </div>
</nav>

<main role="main" class="container">

  <div
      class="d-flex p-3 my-3 align-items-center text-white-50 bg-purple rounded shadow-sm col-md-12">
    <div class="lh-100">
      <h6 class="mb-0 text-white lh-100"
          th:text="'Hi，' + ${session.useradmin.getFirstname()}"></h6>
      <small
          th:text="${session.useradmin.getUstreet()} + ', '+${session.useradmin.getUcity()} + ', '+ ${session.useradmin.getUstate()}"></small>
    </div>
  </div>
  <div class="row">
    <div class="my-3 p-3 bg-white rounded shadow-sm col-md-7">
      <form th:action="@{/sendmessage}" method="post">
        <h6 class="border-bottom border-gray pb-2 mb-0">Compose message</h6>
        <div class="form-group">
          <div class="form-group col-md">
            <label for="inputTitle">Title:</label>
            <input type="text" class="form-control" id="inputTitle" name="title">
          </div>
          <div class="form-row col-md">
            <label for="inputText">Content:</label>
            <textarea class="form-control" rows="5" id="inputText" name="content"></textarea>
          </div>
          <div class="form-check ">
            <input class="form-check-input" type="radio" th:name="select" id="exampleRadios1"
                   th:value="toneighbor" checked>
            <label class="form-check-label" for="exampleRadios1">
              To a Neighbor
            </label>
            <select class="w-75 browser-default custom-select-sm" name="toneighbor">
              <option th:each="n:${neighbors}"
                      th:text="${n.getFirstname()} +' '+${n.getLastname()}"
                      th:value="${n.getUid()}"
              ></option>
              <option th:value="all">All Neighbors</option>
            </select>
          </div>
          <div class="form-check">
            <input class="form-check-input" type="radio" name="select" id="exampleRadios2"
                   th:value="tofriend">
            <label class="form-check-label" for="exampleRadios2">
              To a Friend
            </label>
            <select class="w-75 browser-default custom-select-sm" id="select" th:name="tofriend">
              <option th:each="n:${friends}"
                      th:text="${n.getFirstname()} +' '+${n.getLastname()}"
                      th:value="${n.getUid()}"></option>
              <option th:value="all">All Frinds</option>
            </select>
          </div>
          <div class="form-check">
            <input class="form-check-input" type="radio" th:name="select" id="exampleRadios3"
                   th:value="allhood">
            <label class="form-check-label" for="exampleRadios3">
              Your Neighborhood
            </label>
          </div>
          <div class="form-check">
            <input class="form-check-input" type="radio" th:name="select" id="exampleRadios4"
                   th:value="allblock">
            <label class="form-check-label" for="exampleRadios4">
              Your Block
            </label>
          </div>
        </div>
        <button type="submit" class="mr-5 btn btn-primary">Post</button>
      </form>
    </div>

    <div class="my-3 p-3 bg-white rounded shadow-sm col-md-5">
      <div id="map" style="width:400px; height: 550px;"></div>
    </div>
  </div>


  <div class="my-3 p-3 bg-white rounded shadow-sm">
    <h6 class="border-bottom border-gray pb-2 mb-0">Friends message</h6>
    <div class="media text-muted pt-3" th:each="t : ${t1}">
      <p class="media-body pb-3 mb-0 small lh-125 border-bottom border-gray">
        <strong class="d-block text-gray-dark">
          <a th:href="@{/main}" th:text="${t.getTitle()}"></a>
        </strong>
      </p>
    </div>
  </div>

  <div class="my-3 p-3 bg-white rounded shadow-sm">
    <h6 class="border-bottom border-gray pb-2 mb-0">Block message</h6>
    <div class="media text-muted pt-3" th:each="t : ${t3}">
      <p class="media-body pb-3 mb-0 small lh-125 border-bottom border-gray">
        <strong class="d-block text-gray-dark">
          <a th:href="@{/main}" th:text="${t.getTitle()}"></a>
        </strong>
      </p>
    </div>
  </div>

  <div class="my-3 p-3 bg-white rounded shadow-sm">
    <h6 class="border-bottom border-gray pb-2 mb-0">Hood message</h6>
    <div class="media text-muted pt-3" th:each="t : ${t2}">

      <p class="media-body pb-3 mb-0 small lh-125 border-bottom border-gray">
        <strong class="d-block text-gray-dark">
          <a th:href="@{/main}" th:text="${t.getTitle()}"></a>
        </strong>
      </p>
    </div>
  </div>

  <div class="my-3 p-3 bg-white rounded shadow-sm">
    <h6 class="border-bottom border-gray pb-2 mb-0">Neighbors message</h6>
    <div class="media text-muted pt-3" th:each="t : ${t0}">

      <p class="media-body pb-3 mb-0 small lh-125 border-bottom border-gray">
        <strong class="d-block text-gray-dark">
          <a th:href="@{/xxxxx(tid=${t.getMsgThread().getTid()})}" th:text="${t.getTitle()}"></a>
        </strong>
      </p>
    </div>
  </div>

</main>

<script th:inline="javascript">

  var map;

  function initMap() {

    map = new google.maps.Map(document.getElementById('map'), {
      center: {lat: 40.730610, lng: -73.935242},
      zoom: 12
    });

    var message = /*[[${session.useradmin.getUid()}]]*/ 'default';
    var recs = [];
    $.get("http://localhost:9999/nextdoor/fetchblock", {"uid": message}, function (data) {
      console.log(data);
      var rectangle = new google.maps.Rectangle({
        strokeColor: '#FF0000',
        strokeOpacity: 0.8,
        strokeWeight: 2,
        fillColor: '#FF0000',
        fillOpacity: 0.35,
        map: map,
        bounds: {
          north: data['ne_lat'], // ne_lat
          south: data['sw_lat'], // sw_lat
          east: data['ne_lng'], // ne_lng
          west: data['sw_lng'] // sw_lng
        }
      });
    })

    var marker = null;
    google.maps.event.addListener(map, 'click', function (event) {
      var lat = event.latLng.lat();
      var lng = event.latLng.lng();

      // remove previous Marker
      if (marker != null) {
        marker.setMap(null);
      }
      // init Marker instance
      marker = new google.maps.Marker({
        position: {lat: lat, lng: lng},
        title: "Hello World!"
      });
      // attach Marker instance to Map instance
      marker.setMap(map);

      // if you also want to change the value of FORM, you can add a hidden input in form, and change value using javascript doom:
      console.log(lat);
      console.log(lng);
    });

  }


</script>
<script
    src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCRaTJcMX8c_Y0T-lOwpX9bWhQeWh8yAXE&callback=initMap"
    async defer></script>

</body>
</html>

