<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Nextdoor - Profile</title>
  <link crossorigin="anonymous"
        href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
        integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh"
        rel="stylesheet">
  <link media="all" rel="stylesheet" th:href="@{/css/offcanvas.css}">
  <script th:src="@{/js/offcanvas.js}"></script>
  <link media="all" rel="stylesheet" th:href="@{/css/form-validation.css}">
  <script th:src="@{/js/form-validation.js}"></script>
</head>
<body>
<nav class="navbar navbar-expand-lg fixed-top navbar-dark bg-primary">
  <a class="navbar-brand ml-5 mr-auto mr-lg-0" th:href="@{/main}">Nextdoor</a>
  <button class="navbar-toggler p-0 border-0" data-toggle="offcanvas" type="button">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse">
    <form class="form-inline w-100 ml-3 my-2 my-lg-0" th:action="@{/search}" th:method="post">
      <input aria-label="Search" class="form-control w-75 mr-sm-2" placeholder="Search thread"
             th:name="keyword"
             th:type="text">

      <button class="btn btn-outline-light my-2 my-sm-0" th:type="submit">Search
      </button>
    </form>
  </div>

  <div class="navbar-collapse offcanvas-collapse" id="navbarsExampleDefault">
    <ul class="navbar-nav ml-auto mr-5">
      <li class="nav-item">
        <a class="nav-link" th:href="@{/main}">Main</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" th:href="@{/map}">Map</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" th:href="@{/message}">Messages</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" th:href="@{/friends}">Friends</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" th:href="@{/neighbors}">Neighbors</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" th:href="@{/block}">Blocks</a>
      </li>
      <li class="nav-item active dropdown">
        <a aria-expanded="false" aria-haspopup="true" class="nav-link dropdown-toggle"
           data-toggle="dropdown" href="#" id="navbarDropdownMenuLink">
          Profile & Settings
        </a>
        <div aria-labelledby="navbarDropdownMenuLink" class="dropdown-menu">
          <a class="dropdown-item" th:href="@{/profile}">Profile</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" th:href="@{/logout}">Sign Out</a>
        </div>
      </li>
    </ul>
  </div>
</nav>

<!--<div class="nav-scroller bg-white shadow-sm">-->
<!--  <nav class="nav nav-underline">-->
<!--    <a class="nav-link active" href="#">Dashboard</a>-->
<!--    <a class="nav-link" href="#">-->
<!--      Friends-->
<!--      <span class="badge badge-pill bg-light align-text-bottom">27</span>-->
<!--    </a>-->
<!--    <a class="nav-link" href="#">Explore</a>-->
<!--    <a class="nav-link" href="#">Suggestions</a>-->
<!--    <a class="nav-link" href="#">Link</a>-->
<!--    <a class="nav-link" href="#">Link</a>-->
<!--    <a class="nav-link" href="#">Link</a>-->
<!--    <a class="nav-link" href="#">Link</a>-->
<!--    <a class="nav-link" href="#">Link</a>-->
<!--  </nav>-->
<!--</div>-->

<main class="container" role="main">
  <div class="d-flex align-items-center p-3 my-3 ">
  </div>
  <div class="container">
    <div>
      <div class="col-md-16 order-md-1">
        <h4 class="mb-3">Your profile</h4>
        <form class="needs-validation" method="POST" novalidate th:action="@{/updateprofile}"
              th:object="${user}">
          <div class="row">
            <div class="col-md-6 mb-3">
              <label for="firstName">First name</label>
              <input class="form-control" id="firstName" placeholder="" required
                     th:field="*{firstname}"
                     th:readonly="readonly" type="text" value="">
              <div class="invalid-feedback">
                Valid first name is required.
              </div>
            </div>
            <div class="col-md-6 mb-3">
              <label for="lastName">Last name</label>
              <input class="form-control" id="lastName" placeholder="" required
                     th:field="*{lastname}"
                     th:readonly="readonly" type="text" value="">
              <div class="invalid-feedback">
                Valid last name is required.
              </div>
            </div>
          </div>

          <div class="mb-3">
            <label for="username">Username</label>
            <div class="input-group">
              <input class="form-control" id="username" placeholder="Only letters and numbers" required
                     th:field="*{username}"
                     th:readonly="readonly" type="text">
              <div class="invalid-feedback" style="width: 100%;">
                Your username is required.
              </div>
            </div>
          </div>

          <div class="mb-3">
            <label for="email">Password</label>
            <input class="form-control" id="password" placeholder="Password" th:field="*{password}"
                   type="password">
            <div class="invalid-feedback">
              Please enter a valid passwrod.
            </div>
          </div>

          <div class="mb-3">
            <label for="address">The street you live</label>
            <input class="form-control" id="ustreet" placeholder="1234 Main St" required
                   th:field="*{ustreet}" type="text">
            <div class="invalid-feedback">
              Please enter your street.
            </div>
          </div>

          <div class="mb-3">
            <label for="address2">A brief self introduction<span
                class="text-muted">(Optional)</span></label>
            <input class="form-control" id="profile" placeholder="" th:field="*{profile}"
                   type="text">
          </div>

          <div class="row">
            <div class="col-md-6 mb-3">
              <label for="country">City</label>
              <input class="form-control" id="city" placeholder="New york" required
                     th:field="*{ucity}" type="text">
              <div class="invalid-feedback">
                Please select a valid city.
              </div>
            </div>
            <div class="col-md-6 mb-3">
              <label for="state">State</label>
              <input class="form-control" id="state" placeholder="NY" required
                     th:field="*{ustate}"
                     type="text">
              <div class="invalid-feedback">
                Please provide a valid state.
              </div>
            </div>
            <div class="col-md-12 mb-3">
              <label for="zip">How you want to be notified, it should be valid email or
                phone</label>
              <input class="form-control" id="zip" placeholder="" th:field="*{notify}" type="text">
              <div class="invalid-feedback">
                notification required.
              </div>
            </div>
          </div>

          <hr class="mb-4">
          <button class="btn btn-primary btn-lg btn-block" type="submit">Update</button>
        </form>
      </div>
    </div>
  </div>
</main>
<script crossorigin="anonymous"
        integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
        src="https://code.jquery.com/jquery-3.2.1.slim.min.js"></script>
<script crossorigin="anonymous"
        integrity="sha384-b/U6ypiBEHpOf/4+1nzFpr53nxSS+GLCkfwBdFNTxtclqqenISfwAzpKaMNFNmj4"
        src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.11.0/umd/popper.min.js"></script>
<script crossorigin="anonymous"
        integrity="sha384-h0AbiXch4ZDo7tp9hKZ4TsHbi047NrKGLO3SEJAg45jXxnGIfYzk4Si90RDIqNm1"
        src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/js/bootstrap.min.js"></script>
</body>
</html>